<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Terms and Conditions</title>
    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <meta name="author" content="Marcel" />

    <link rel="stylesheet" href="{% static 'app/css/custom-bs.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/bootstrap-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'app/fonts/line-icons/style.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

</head>

<body>

    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>



    <header id="topnav" class="defaultscroll scroll-active">

        <div class="tagline">
            <div class="container">
                <div class="float-left">
                    <div class="phone">
                        <i class="mdi mdi-phone-classic"></i>9199860006
                        </div>
                    <div class="email">
                        <a href="#">
                            <i class="mdi mdi-email"></i> Support@gmail.com
                        </a>
                    </div>
                </div>
                <div class="float-right">
                    <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                        <li class="list-inline-item"><a href="javascript:void(0);"<i class="mdi mdi-account mr-2"></i></li>
                        <li class="list-inline-item">
                            <select id="select-lang" class="demo-default">
                                <option value="">Language</option>
                                <option value="4">English</option>
                                <option value="1">Spanish</option>
                                <option value="3">French</option>
                                <option value="5">Hindi</option>
                                <option value="">Language</option>

                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>





    <script src="{% static 'app/js/jquery.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'app/js/stickyfill.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.easing.1.3.js' %}"></script>

    <script src="{% static 'app/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'app/js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'app/js/custom.js' %}"></script>
</body>
</html>