{% extends 'layout2.html' %}

{% load static %}

{% block meta %}
<title>Opus {{the_company.title}} Jobs</title>
<meta name="decription" content="{{the_company.seeDescription}}" />
<meta name="keywords" content="{{the_company.seeKeywords}}" />
<meta name="author" content="Opus" />
{% endblock %}
<meta property="og:title" content="{{the_company.seeDescription}}"/>
<meta property="og:site_name" content= "Opus"/>
<meta property="og:title" content="{% url 'company-detail' the_company.slug %}"/>
<meta property="og:title" content="website"/>



{% block body %}

      <section class="section-hero overlay inner-page bg-image" style="background-image: url('app/images/hero_1.jpg' );" id="home-section">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <h1 class="text-white font-weight-bold">Opus {{the_company.title}} Jobs</h1>
                  <div class="custom-breadcrumbs">
                    <a href="{% url 'home_page' %}">Home</a> <span class="mx-2 slash">/</span>
                      <a href="{% url 'job-list' %}">Jobs</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>{{the_company.title}} Jobs</strong></span>
                  </div>
                </div>
              </div>
            </div>
       </section>



          {% for job in jobs %}
          <ul class="job-listings mb-5">
            <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
              <a href="{% url 'job-detail' job.slug %}"></a>
              <div class="job-listing-logo">
                <img src="{{ job.company.companyLogo.url }}" alt="Image" class="img-fluid">
              </div>

              <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                  <h2>{{job.title}}</h2>
                  <strong>{{job.company.title}}</strong>
                </div>
                <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                  <span class="icon-room"></span> {{job.location}}
                </div>
                <div class="job-listing-meta">
                  <span class="badge badge-danger">{{job.type}}</span>
                </div>
              </div>

            </li>
          </ul>
          {% endfor %}

          <div class="row pagination-wrap">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
              <span>Showing 1-7 Of 43,167 Jobs</span>
            </div>
            <div class="col-md-6 text-center text-md-right">
              <div class="custom-pagination ml-auto">
                <a href="#" class="prev">Prev</a>
                <div class="d-inline-block">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                </div>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div>

        </div>
      </section>

{% endblock %}